transformers==4.48.3
torch==2.2.1
langchain==0.3.21
langchain-huggingface==0.1.2
langchain-community==0.3.20
langchain-core==0.3.46
pydantic==2.10.6
fastapi==0.110.0
uvicorn==0.27.1
huggingface-hub==0.28.1
